@{
    ViewBag.Title = "CSVError";
}

<div id="epicFail" class="inTitleHeader">
    Something has gone very wrong
</div>

<div class=" infoText space">
    Please ensure CSV imports comply with the following format:
</div>

<img src="../../Content/Images/Capture.jpg" style="margin-left: 20px"/>

<div class=" infoText space">
    Columns do not require column headers. Any empty fields must show comma separated fields when the file is opened in notepad.
</div>
<img src="../../Content/Images/Capture2.PNG" style="margin-left: 20px"/>