.editableTableAdd {
    float: left;
    margin-bottom: 5px;
    margin-top: -2px;
}

.editableTableStatus { float: right; }

.infoIco {
    margin-left: 5px;
    margin-bottom: -3px;
    height: 16px;
    width: 16px;
    background-image: url("../../Content/Images/info.png");
    display: inline-block
}

.hasError {
    border-style: solid;
    border-color: #cc3300;
    border-width: 1.25px;
    font-weight: bold;
}