#header {
    clear: left;
    height: 75px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    background: url("/Content/Images/4comLogo.png") no-repeat right; 
}

#header h1 {
    color: #027384;
    height: 30px;
    font-size: 14pt;
    display: inline-block;
    float: left;
}

#header ul {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    float: left;
    margin-top: -8px;
    margin-bottom: -5px;
}

#header ul li {
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
}

#header ul li.current {
    background: #e1e1e1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff'); /* for IE */
    background-image: -ms-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
}

#header ul li a {
    display: inline-block;
    padding-top: 15px;
    float: left;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12pt;
    text-decoration: none;
    color: #444;
}

#header ul li.current a {
    background: -webkit-linear-gradient(top, #f1f1f1, #fff);
    border-bottom: 1px solid #f9f9f9;
}

#header ul li a:hover {
    background: -webkit-linear-gradient(top, #f1f1f1, #d2ecf0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#d2ecf0'); /* for IE */
    background-image: -ms-linear-gradient(top, #f1f1f1 0%, #d2ecf0 100%);
}