@{
    ViewBag.Title = "Logon";
}
<form method="POST" action="TestLogon">
    <div id="logOn" class="tabTableText ">
        
        <div style="float: left; margin-left: -5px;">
            <label>
                Extension Number</label>
            <input type="text" id="userName" name="userName" size="7" />
        </div>

        <div style="float: left; margin-left: 2px;">
            <label>
                Password</label>
            <input type="text" id="password" name="password" size="7" />
        </div>

        <input type="submit" value="Login" name="Login" class="button" style="float: left; margin-left: 10px;" />

    </div>
</form>