@model IEnumerable<DatabaseAccess.IDialplan>
@{
    ViewBag.Title = "Routing Administration Page";
}
@section AddToHead
{
    <script src="../../Javascript/DynamicTable/dynamicTable.js" type="text/javascript"> </script>
    <script src="../../Javascript/DynamicTable/dynamicColumn.js" type="text/javascript"> </script>
    <script src="../../Javascript/TimePicker/jquery.timepicker.js" type="text/javascript"> </script>
    <link href="../../Content/jquery.timepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/TabbedModalPopup.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/datePicker.css" rel="stylesheet" type="text/css" />
    <script src="../../Javascript/Modal Interfaces/modalDialog.js" type="text/javascript"> </script>
    <script src="../../Javascript/Modal Interfaces/picker.js" type="text/javascript"> </script>
    <script src="../../Javascript/Modal Interfaces/pickerTabFactory.js" type="text/javascript"> </script>
}
@Html.Partial("Pickers/TimePicker")
@Html.Partial("Pickers/DayPicker")
@Html.Partial("Pickers/MultiDatePicker")
<script type="text/javascript">

    SetCurrentPage("DialPlan");

    var timePicker;
    var dayPicker;
    var multiDatePicker;
    $(document).ready(function() {

        window.timePicker = createTimePicker();
        window.dayPicker = createDayPicker();
        window.multiDatePicker = createMultiDatePicker();

        //#region ** Range Table Guff  **  

        var myTimePicker = pickerColumn(window.timePicker);
        var myDayPicker = pickerColumn(window.dayPicker);
        var myMultiDatePicker = pickerColumn(window.multiDatePicker);

        var rangeTableConfig = {
            table: $("#sipRoutingRange"),
            source: "DialPlanRangeData",
            columnTypes: [idColumn(),
                editTextColumn(),
                myDayPicker,
                myTimePicker,
                dropdownColumn([@Html.Raw(String.Join(",", Model.Select(d => "'" + d.Name + "'")))]),
                editColumn(),
                deleteColumn()],
            getString: function(inputs) {
                return "id=" + encodeURI(inputs[0]) + "&priority=" + encodeURI(inputs[1] + "&days=" + encodeURI(inputs[2]) + "&time=" + encodeURI(inputs[3]) + "&plan=" + encodeURI(inputs[4]));
            },
            updateURL: "UpdateRange",
            addURL: "AddRange",
            deleteURL: "DeleteRange?id="
        };

        dynamicTable(rangeTableConfig);

        //#endregion **  Range Table Guff  **  

        //#region ** Date Table Guff  **

        var dateTableConfig = {
            table: $("#sipRoutingDate"),
            source: "DialPlanDateData",
            columnTypes: [idColumn(),
                myMultiDatePicker,
                dropdownColumn([@Html.Raw(String.Join(",", Model.Select(d => "'" + d.Name + "'")))]),
                editColumn(),
                deleteColumn()],
            getString: function(inputs) {
                return "id=" + encodeURI(inputs[0]) + "&date=" + encodeURI(inputs[1]) + "&plan=" + encodeURI(inputs[2]);
            },
            updateURL: "UpdateDate",
            addURL: "AddDate",
            deleteURL: "DeleteDate?id="
        };

        dynamicTable(dateTableConfig);

        //#endregion ** Date Table Guff  ** 

    });
</script>
<div class="description">
    <p>
        A Dial Plan is used to allocate routes based on date and time periods. This page allows you to set dial plans in two ways: </p>
</div>
<div style="float: left; width: 750px;">
    <div class="description">
        <h2 class="description">
            By Day & Time</h2>
        <p>
            Dial plan set by day and time period, lowest priority first. </p>
    </div>
    <table id="sipRoutingRange">
        <thead>
            <tr>
                <th style="display: none;">
                </th>
                <th>
                    Priority </th>
                <th>
                    Day </th>
                <th>
                    Time </th>
                <th>
                    Plan </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="spaceBetween" style="float: left; font-size: 20px; width: 20px;">
    <br />
    <br />
    <br />
</div>
<div style="float: left; width: 500px;">
    <div class="description">
        <h2 class="description">
            By Date</h2>
        <p>
            Dial plan set by specified date. This will override any conflicting 'Day & Time' plans. </p>
    </div>
    <table id="sipRoutingDate" style="float: left;">
        <thead>
            <tr>
                <th style="display: none;">
                </th>
                <th>
                    Date </th>
                <th>
                    Plan </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="errorTime" class='startHidden'>
    <div class='modalBackground modalClose'>
    </div>
    <div class='modalContent'>
        <h1>
            Time Format Error</h1>
        <p>
            Please ensure you have used 24 format including minutes separated by a colon with no spaces.<br />
            <br />
            For example 1pm as 13:00.</p>
        <br />
        <input type="submit" value="Return to Time" class="button" onclick=" timePicker.returnToTime() " />
    </div>
</div>
<div id="errorDate" class='startHidden'>
    <div class='modalBackground modalClose'>
    </div>
    <div class='modalContent'>
        <h1>
            Time Format Error</h1>
        <p>
        Please enter either a single or range date in the text boxes provided.<br />
        <br />
        <input type="submit" value="Return to Date" class="button" onclick=" multiDatePicker.returnToDate() " />
    </div>
</div>