<script type="text/javascript">
     var createFedrationInfoPicker = function(config) {

         var publicMembers = picker({ title: "Apply Connection Details", width: '450' });

         var baseshow = publicMembers.show;

         var heldList;
         var trunkIsGood = false;

         publicMembers.show = function(value) {
             trunkIsGood = false;
             heldList = value;
             baseshow();
             publicMembers.setCurrentValues(value);
         };

         publicMembers.tabTitle = 'Sip Trunk';

         publicMembers.showAddTabs = function(basediv) {

             var fed = addStaticTab(publicMembers.tabTitle);

             fed.html = "<div style=\"width:250px;clear: both\"> <label style=\"float:left \">User Name</label> <input  type=\"text\" id=\"userName\" style=\"float:right; " +
                 "\" value=\"\" /> </div> <div style=\"clear:both;height:2px\"> <br /> </div> <div style=\"width:250px;clear: both\"> <label style=\"float:left " +
                 "\">Password</label> <input type=\"text\" id=\"password\" style=\"float:right \" value=\"\" /> </div> <div style=\"clear:both;height:2px\"> <br />" +
                 " </div> <div style=\"width:250px;clear: both\"> <label style=\"float:left\">Host</label> <input type=\"text\" id=\"host\" style=\"float:right \" " +
                 " value=\"\" /> </div> <div style=\"clear:both;height:2px\"> <br /> </div> <div style=\"width:250px;clear: both\"> <label style=\"float:left " +
                 " \">Channels</label> <input type=\"text\" id=\"channels\" style=\"float:right \" value=\"\" />"
                 + "<div style=\"clear:both;height:2px\"> <br /> </div> "
                 + "<div style=\"width:250px;clear: both\"> "
                 + "<label style=\"float:left \">CLI Type</label> <select style=\"float:right; width:154px \" id=\"presType\">"
                 + "<option value=\"None\">None</option>" + "<option value=\"StartWith\">StartWith</option><option value=\"EndWith\">EndWith</option><option value=\"RegExp\">RegExp</option>"
                 + "</select></div>"
                 + "<div style=\"clear:both;height:2px\"> <br /> </div> "
                 + "<div style=\"width:250px;clear: both\"> <label style=\"float:left \">CLI Value</label> <input type=\"text\" id=\"presValue\" style=\"float:right \" value=\"\" /> "
                 + "<div style=\"clear:both;height:2px\"> <br /> </div> "
                 + "<label style=\"float:left \">CLI Type</label> <select style=\"float:right; width:154px \" id=\"presType2\">"
                 + "<option value=\"None\">None</option>" + "<option value=\"StartWith\">StartWith</option><option value=\"EndWith\">EndWith</option><option value=\"RegExp\">RegExp</option>"
                 + "</select></div>"
                 + "<div style=\"clear:both;height:2px\"> <br /> </div> "
                 + "<div style=\"width:250px;clear: both\"> <label style=\"float:left \">CLI Value</label> <input type=\"text\" id=\"presValue2\" style=\"float:right \" value=\"\" /> "
                 + "</div> </div> <div style=\"padding-top: 5px;margin-bottom:5px; width: 250px; clear: both\"><label id=\"messageUser2\" style=\"color: red;font-weight: bold; margin-top:4px\"></label></div>"
                 + fed.html;

             fed.click = function(picker) {
                 privateMembers.performClick(picker);
             };


             //TODO this needs to be set so if the value has not been entered the button is greyed out
             var baseAddTab1 = fed.addTabForThisTable;
             fed.addTabForThisTable = function(parent) {
                 baseAddTab1(parent);
                 fed.currentTab.find('input.button').removeAttr('disabled');
             };

             publicMembers.addTab(fed);

             publicMembers.setCurrentValues = function(value) {
                 privateMembers.setpickerValuesFromRow(value);
             };


         };

         var privateMembers = {
             setpickerValuesFromRow: function(value) {
                 privateMembers.setSipCredentials(value);
             },

             performClick: function(picker) {
                 var numberOfCredentials = privateMembers.hasSipCredentials();

                 if (numberOfCredentials > 0) {
                     if (numberOfCredentials === 3) {
                         if (trunkIsGood) {
                             privateMembers.setTrunkValues(picker);
                         } else
                             privateMembers.checkValuesWithNew();
                     } else {
                         if (numberOfCredentials === 4) {
                             picker.setValueInDataTable(privateMembers.setSipCredentialsAsValue());
                         }
                     }
                 }
             },

             checkValuesWithNew: function() {
                 $('#messageUser1').text('You are about to overwrite the current trunk settings do you want to proceed?');
                 $('#messageUser2').text('You are about to overwrite the current trunk settings do you want to proceed?');
                 $("input[value='Set Picker Value']").val('Overwrite Trunk Values');
                 trunkIsGood = true;
             },

             setTrunkValues: function(picker) {
                 picker.setValueInDataTable(privateMembers.setSipCredentialsAsValue());
             },

             setSipCredentials: function(separatedList) {
                 var list = separatedList.split(',');
                 $('#userName').val(list[0]);
                 $('#password').val(list[1]);

                 privateMembers.validatePassString(list[1]);

                 $('#host').val(list[2]);
                 $('#channels').val(list[3]);
                 privateMembers.presTypeSelected(list[4]);
                 $('#presValue').val(list[5]);
             },

             validatePassString: function(passString) {
                 if (passString === 'None Required') {
                     $("#password").attr("disabled", "disabled");
                 }
             },

             presTypeSelected: function(value) {
                 switch (value) {
                 case 'StartWith':
                     $('#presType').val('StartWith');
                     break;
                 case 'EndWith':
                     $('#presType').val('EndWith');
                     break;
                 case 'RegExp':
                     $('#presType').val('RegExp');
                     break;
                 case 'None':
                     $('#presType').val('None');
                     break;
                 }
             },

             changeTab: function(tabText) {
                 var iId = $(".ui-tabs-nav li a:contains('" + tabText + "')")
                     .parent().index();
                 $('#tabs').tabs('select', iId);
             },

             setSipCredentialsAsValue: function() {
                 trunkIsGood = false;
                 if ($('#presValue').val() !== undefined && $('#presValue').val().length > 0) {

                     return $('#userName').val() + ',' + $('#password').val() + ',' + $('#host').val() + ',' + $('#channels').val() + ',' + $('#presType').val() + ',' + $('#presValue').val() + ',' + $('#presType2').val() + ',' + $('#presValue2').val();
                 } else {
                     return $('#userName').val() + ',' + $('#password').val() + ',' + $('#host').val() + ',' + $('#channels').val() + ',' + $('#presType').val() + ',null' + ',' + $('#presType2').val() + ',null';
                 }
             },

             hasSipCredentials: function() {
                 var rtn1 = privateMembers.hasValue($('#userName'));
                 var rtn3 = privateMembers.hasValue($('#host'));
                 var rtn4 = 0;
                 if (privateMembers.hasValue($('#channels')) === 1) {
                     rtn4 = privateMembers.validateNumber($('#channels'));
                 }

                 return rtn1 + rtn3 + rtn4;
             },

             hasValue: function(value) {
                 if (value.val() !== undefined && value.val().length > 0) {
                     return 1;
                 } else {
                     $(value).addClass('hasError');
                     $('#messageUser1').text('Please ensure all values have been entered correctly.');
                     return 0;
                 }
             },

             validateNumber: function(input) {
                 var regex = '^(\\d+(,\\d+)*)?$';
                 var valueToCheck = $(input).val();
                 if (valueToCheck.match(regex)) {
                     $(input).removeClass('hasError');
                     return 1;
                 } else {
                     $(input).addClass('hasError');
                     $('#messageUser1').text('Channels need to be a whole number.');
                     return 0;
                 }
             },

             buildCommaSeparatedList: function(commaSeparatedList, id) {
                 var csl = "";
                 if (privateMembers.isValueChecked(id)) {
                     if (commaSeparatedList === "") {
                         csl = 'Bri,' + $('#' + id).val();
                     } else {
                         csl = commaSeparatedList + "," + $('#' + id).val();
                     }
                 } else
                     csl = commaSeparatedList;

                 return csl;
             },

             isValueChecked: function(id) {
                 return $('#' + id).is(":checked") ? true : false;
             },

             //set the checkboxs on the day form based on the current held values
             setCheckBox: function(commaSeparatedList, checkbox, value) {
                 if (privateMembers.isInList(commaSeparatedList, ",", value) === 1) {
                     $(checkbox).attr('checked', true);
                 } else {
                     $(checkbox).attr('checked', false);
                 }
             },

             isInList: function(separatedList, listDelimiter, valueToFind) {
                 var list = separatedList.split(listDelimiter);
                 var rtn = 0;
                 for (var d in list) {
                     if (list[d] === valueToFind) {
                         rtn = 1;
                     }
                 }
                 return rtn;
             }
         };

         publicMembers.linkText = "Credential Value Picker";
         return publicMembers;

     };
 </script>