@{
    Layout = null;
}			
<a id="passwordReset" href="">........reset the password for @ViewBag.data</a>
<input type="hidden" id="passResetExtn"/>
<script type="text/javascript">
    $(document).ready(function() {

        $("#passwordReset").click(function(e) {
            e.preventDefault();
            var heldExtn = '@ViewBag.data';
            $.ajax({
                url: '/Account/ResetPassword?extn=' + '@ViewBag.data',
                success: function(data) {
                    $('#passwordReset').html('password has been reset it is now ' + heldExtn);
                }
            });
        });
    });
</script>