@{
    ViewBag.Title = "CSVError";
}

<div class=" infoText space">
    Please ensure CSV imports comply with the following format:
</div>
<br/>
<img src="../../Content/Images/CSVErrorKnownNumbers.PNG" style="margin-left: 20px"/>
<br/><br/>
<div class=" infoText space">
    Columns do not require column headers. Any empty fields must show comma separated fields when the file is opened in notepad.
</div><br/>
<img src="../../Content/Images/CSVErrorKnownNumbersNotePad.PNG" style="margin-left: 20px"/>